body {
  background-color: cyan;
  margin: 2
}

#Luka {
  color: white;
}

.Song {
  color: rgb(8, 21, 161);
}

.ezW {
  color: rgb(13, 217, 149);
}

#fade {
  color: #bf1f34;
}

#Update {
  color: hsl(130, 72%, 44%);
}

#Cuban {
  font-family: Roboto, verdana, arial;
  font-size: 1.3em;
}

.billion {
  font-family: "Playwrite New Zealand", "lucida console", "courier new";
  font-size: 14px;
  font-weight: bold;
  font-style: monospace;
}
/* Different types of border-styles are solid, dashed, dotted, double, groove, ridge, inset, outset, and none. */
.history {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(8, 33, 102);
  border-radius: 15px;
}

#finals {
  border-bottom: 3px solid red;
  border-top: 3px solid yellow;
  border-left: 3px dotted orange;
  border-right: 3px dotted green;
  
  border-radius: 10px;
}

.coolio {
  text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(197, 100%, 61%);
}
.goat {
  text-shadow: 3px 3px 5px hsl(314, 96%, 42%), -3px -3px 5px hsl(247, 96%, 42%);
  font-family: "Playwrite New Zealand", "lucida console", "courier new";
  border-bottom: 3px solid red;
  border-top: 3px solid yellow;
  border-left: 3px dotted orange;
  border-right: 3px dotted green;
  border-radius: 10px;
}
#box1 {
  width: 1000px;
  height: 100px;
  background-color: rgb(234, 234, 234);
  box-shadow: 3px 3px 5px;
}
.box {
  border: 5px solid;
  font-size: 5em;
  width: 250px;
  height: 250px;
  margin: auto;
}
#boxcool {
  background-color: hsl(0, 100%, 60%);
}
#box2 {
  background-color: hsl(189, 100%, 55%);
}

#img1 {
  float: left;
  margin-right: 10px;
}

#img2 {
  float: right;
  margin-left: 10px;
}

#floating {
  border: 3px solid;
  display: flow-root;
  overflow: hidden;
}
/* Different overflow elements are visible, hidden, clip, auto, scroll. */
#peewo {
  border: 3px solid;
  height: 75px;
  overflow: scroll;
}

#dally {
  background-color: DodgerBlue;
  display: inline;
}

#cavy {
  background-color: hsl(357, 92%, 29%)
  displlay: inline;
}



  


