body {
  background-color: cyan
}
#Luka {
  color: white
}
.Song {
  color: rgb(8, 21, 161)
}
.ezW {
  color: rgb(13, 217, 149)
}
#fade {
  color: #bf1f34;
}
#Update {
  color: hsl(130, 72%, 44%);
}
#Cuban {
  font-family: Roboto, verdana, arial;
  font-size: 1.3em;
}
.billion {
  font-family: "Playwrite New Zealand", "lucida console", "courier new";
  font-size: 14px;
  font-weight: bold;
  font-style: monospace;
}
/* Different types of border-styles are solid, dashed, dotted, double, groove, ridge, inset, outset, and none. */
 .2011 {
  border-style: solid
  border-width: 3px;
  border-color: rgb(235, 231, 12);
  border-radius: 15px;
}

